[Service]
Type=simple
Restart=always
RestartSec=3
ExecStartPre=/usr/local/bin/gpio mode 5 out
ExecStart=/usr/bin/python  /mqtt_client/mqtt.relay0_4.py &
ExecStartPost=/usr/local/bin/gpio write 5 1

[Install]
WantedBy=multi-user.target
