[Service]
Type=simple
Restart=always
RestartSec=3
ExecStart=/usr/bin/python /media/mqtt.bedroom.remote_command.py  &

[Install]
WantedBy=multi-user.target

