[Service]
Type=simple
Restart=always
RestartSec=3
ExecStart=/usr/bin/python /etc/mosquitto/scripts/mqtt.dhtsensor.py 'room/temperature' 'room/humidity' 4

[Install]
WantedBy=multi-user.target
